


header{
    background-color: rgba(26,81,99,255);
    color: #fff;
    height: 70px;
}
nav{
    
}
.logo{
    color:white;
    font-weight: bold;
}
.fa-paw{
    color:#fc9b8b;
}

.logo:hover{
    color:white;
    
}
.link{
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
}
.link:hover{
    color:#e89588;

}
.nav-item{
    color: #fff;
    margin-left: 15px;
    font-weight: 300;
    
}

.entrar{
    margin-top: 10px;
    text-decoration: none;
    margin-right: 20px;
    color: #e89588;
}
.entrar:hover{
    color: #fc6048;

}

.cadastro{
    background-color:#fc9b8b;
    color:white;

    }

    .cadastro:hover{
        background-color: #fc745f;
        color: white;
    }
    .active{

    }

.main{
    height:400px;
    background-color: rgba(26,81,99,255);
    position: relative;
}    

.titulos-section{
    display:flex;
    flex-direction: column;
    text-align: center;

}
.h1-section{
   padding-top: 30px;
   font-weight: bold;
   color: #fc9b8b;
   
}

.h1-section-sub{
    
    font-weight: bold;
    color: #fff;
 }
 
 .p-section{
     color: white;
     font-weight: bold;
     font-size: 17px;   
 }
 
.busca{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 80%;
    background-color:#94aeb6;
    border-top-left-radius: 25px;
    border-top-right-radius: 30px;
    margin-left: 20px;
    
}

.busca-campos{
   
}
.row{
    margin-left: 30px;
}

.input-one{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
    color: white;
    width:350px;
    
}
label{
    font-size:20px;
}
select{
    
    margin-top: 10px;
    border-radius: 10px;
    height:35px;
    background-color:#e9eff0;
}
option{
    height:50px;
}

.pesquisar{
    background-color:#1a5163;
    margin-top: 30px;
    padding: 18px;
    color: white;
}

.pesquisar:hover{
    color: white;
    background-color:#032430;

}

.services{
    margin-top: 50px;
   margin-left: 0;
   display: flex;

}

.services-one{
    background-color: #e1eff3;
    height: 400px;
    position: relative;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    flex:1;
}

.services-secundary{
    background-color: #255a6b;
    position: absolute;
    right: 0;
    margin-top: -170px;
    margin-right: -200px;
    width: 250px;
    height:270px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    
   
}

.services-two{
    
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: 130px;
    margin-left: 20px;
    flex:1;
}

.services-two-secundary{
    margin-left: 250px;
    width: 170px;
    height: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 1px dashed #333;
}

.title-services{
    margin-left: 40px;
}
span{
    color: #fc9b8b;
}
.h1-services{
    
    margin-top: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #1a5163;

}

h6{
    margin-top: 20px;
    color: #396a79;
    font-weight: 400;
    font-size: 20px;
}

p{
    color:#396a79;
}

.link-services{
    font-size:20px;
    color:#fc9b8b;
    text-decoration: none;
}

.link-services:hover{
    color:#fc6048;
}

.services-secundary-title{
    text-align: center;
    margin-top:30px;
}
.services-secundary-title h2{
    color: white;
    font-weight: bold;
    font-size:26px;
}
.star{
    color:#fc9b8b;
}
.services-secundary-text{
    margin-top: 10px;
    margin-left: 15px;
}
.services-secundary-p{
    
    color: white;
}

.services-secundary-p-two{
    color:white;
}

.services-secundary-p-link{
    color:#fc9b8b;
    text-decoration: none;
    margin-left: 35px;
}

.services-secundary-p-link:hover{
    
    color:#fc6048;
    text-decoration: none;
}