




.main{
    margin-top:50px ;
    height:400px;
    width:100%;
    background-color: rgba(26,81,99,255);
    position: relative;
}    

.titulos-section{
    display:flex;
    flex-direction: column;
    text-align: center;

}
.h1-section{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30px;
   font-weight: bold;
   color: #fc9b8b;
   
}

.h1-section-sub{
    
    font-weight: bold;
    color: #fff;
 }
 
 .p-section{
     color: white;
     font-weight: bold;
     font-size: 17px;   
 }
 
.busca{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 80%;
    background-color:#94aeb6;
    border-top-left-radius: 25px;
    border-top-right-radius: 30px;
    margin-left: 20px;
    
}



.input-one{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 15px;
    color: white;
    width:350px;
    
}
label{
    font-size:20px;
}
select{
    
    margin-top: 10px;
    border-radius: 10px;
    height:35px;
    background-color:#e9eff0;
}
option{
    height:50px;
}

.pesquisar{
    background-color:#1a5163;
    margin-top: 40px;
    margin-left: 18px;
    width:150px;
    padding: 15px;
    color: white;
    border-radius: 250px 250px 250px 250px;
}

.pesquisar:hover{
    color: white;
    background-color:#032430;

}

.services{
    margin-top: 50px;
   margin-left: 0;
   display: flex;

}

.services-one{
    background-color: #e1eff3;
    height: 400px;
    position: relative;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    flex:1;
}

.services-secundary{
    background-color: #255a6b;
    position: absolute;
    right: 0;
    margin-top: -170px;
    margin-right: -200px;
    width: 250px;
    height:270px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    
   
}

.services-two{
    
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: 130px;
    margin-left: 20px;
    flex:1;
}



.title-services{
    margin-left: 40px;
}
span{
    color: #fc9b8b;
}
.h1-services{
    
    margin-top: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #1a5163;

}

h6{
    margin-top: 20px;
    color: #396a79;
    font-weight: 400;
    font-size: 20px;
}

p{
    color:#396a79;
}

.link-services{
    font-size:20px;
    color:#fc9b8b;
    text-decoration: none;
}

.link-services:hover{
    color:#fc6048;
}

.services-secundary-title{
    text-align: center;
    margin-top:30px;
}
.services-secundary-title h2{
    color: white;
    font-weight: bold;
    font-size:26px;
}
.star{
    color:#fc9b8b;
}
.services-secundary-text{
    margin-top: 10px;
    margin-left: 15px;
}
.services-secundary-p{
    
    color: white;
}

.services-secundary-p-two{
    color:white;
}

.services-secundary-p-link{
    color:#fc9b8b;
    text-decoration: none;
    margin-left: 35px;
}

.services-secundary-p-link:hover{
    
    color:#fc6048;
    text-decoration: none;
}

.sobre{
    margin-top: 100px;
    position: relative;
}
.sobre-left {
    
}

.sobre-title{
    width: 400px;
    position: absolute;
    margin-top: 30px;
    height: 500px;
    width: 70%;
    margin-left: 20px;
    
}
.h2-sobre{
    font-weight: bold;
    font-size: 28px;
    color: #1a5163;
}
.p-sobre{
    margin-top: 20px;
    font-weight: bold;
}



.button-carousel{
    position: relative;
    margin-left: 5px;
    top: 150px;
    right: -500px;
    width:50px;
    height:50px;
    background-color:  #fff;
    color: #fc9b8b;
    border: 1px solid  #fc9b8b;
    border-radius: 100%;
}

.button-carousel:hover{
    background-color: #fc6048;
}

.carousel-inner{
    margin-top: 150px;
    position: relative;
}

.items{
   
    
    margin-top: 100px;
    height: 100px;
    margin-bottom: 15px;
    
}
.test{
    
    margin-right: 30px;
    width: 500px;  
    background-color: hsl(195, 58%, 25%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.test-one{
    width: 500px; 
    margin-left: 30px;
    background-color: hsl(195, 58%, 25%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.p-items{
    margin-top: 15px;
    color:#fff;
}

.avatar{
    width:100px;
    height: 100px;
    border-radius:100%;
}

.items-texts{
    margin-left: 20px;
}

i{
    background-color: #fc9b8b;
}

footer{
    margin-top: 100px;
    height: 80px;
    width: 100%;
}
.footer-section-one{
    flex: 1;  
    margin-left: 50px;  
}

.footer-link {
    color:#1a0061;
    text-decoration: none;
    font-weight: bold;  
    font-size:14px;
}


.footer-link:hover {
    
    text-decoration: none;
}
.footer-section-one{
    display: flex;
    flex-direction: column;
}

.footer-h2{
    font-size: 16px;
    font-weight: bold;
    color:#005875;
}



.p{
    margin-top: 20px;
    
}

.p p{
    color:#0386b6;
    font-weight: 400;
}

.p p:hover{
    color:#0386b6;
    font-weight: 600;
    color:#1a5163; 
}

a{
    text-decoration:none;
    color:white;
}
a:hover{
    color:white; 
}
.footer-section{
    border-bottom: 1px solid rgb(172, 172, 172);
}

.copyright{
    margin-top: 20px;
    display: flex;
    align-items: center;
   
    

}

.logo-footer h3{
    font-weight: 600;
    color: hsl(195, 58%, 25%);
    margin-left: 10px;
    text-align: center;
}

.paw{
    margin-top: 2px;
    font-size: 25px;
}
.copyright-footer{
text-align: center;
margin-left: 100px;
font-weight: bold;
padding-top:8px;
}

.copyright-footer p{
    color:#007cad;
    font-weight: 500;
}

.dog-services{
    position: absolute;
    
    height: 250px;
    margin-left: 100px;;

background: url(.jpg);
border-radius: 250px 250px 0px 0px;
bottom: -120px;


}

.border{
    /* unsplash:eoqnr8ikwFE */

position: relative;
width: 200px;
height: 250px;

top:30px;
left: 110px;
border: 5px solid #003f58;
box-sizing: border-box;
border-radius: 250px 250px 0px 0px;

}

@media (min-width: 960px) { 
    .dropdown{
        display: none;
    }

}
@media (max-width: 913px) { 
    .main{
       width: 100%;
    }

    .border{
        width: 150px;
    }
    .dropdown{
        position:absolute;
        left: 20px;
        bottom: 15px;
    }
    .busca{
        margin-left: -20px;
    }

    .input-one{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 15px;
        color: white;
        width:50px;
        
    }

    .pesquisar{
        background-color:#1a5163;
        margin-top: 50px;
        margin-left: 18px;
        width:100px;
        padding: 10px;
        color: white;
        border-radius: 250px 250px 250px 250px;
    }

    .button-carousel{
        right: -340px;
    }

    .display{
        display:none;
    }
 }



 @media (max-width: 533px) { 
    .main{
       width: 100%;
    }

    .border{
        width: 150px;
    }
    .dropdown{
        position:absolute;
        left: 20px;
        bottom: 15px;
    }
    .busca{
        width: 100%;
    }

    .busca label{
        font-size:14px;
    }
    .input-one{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 15px;
        color: white;
        width:20px;
        
    }
    .dog-services{
        display: none;
    }
   
    .services-secundary{
        width: 200px;
        top:400px
    }
    .services-secundary a{
        margin-left: 10px;
    }

    .title-services {
        margin-right: 20px;
        padding-right:50px; 
    }
    .title-services h6{
        margin-left: -50px;
    }
    .title-services a{
        margin-left: -45px;
        font-size:14px;
    }
    .title-services p{
        margin-left: -45px;
    }

    .p-services{
        margin-left: -40px;
    }
    .border{
        display: none;  
    }
    .h1-services{
        margin-left:-45px;
        font-size:26px;
    }

    .pesquisar{
        background-color:#1a5163;
        margin-top: 40px;
        margin-left: 18px;
        width:100px;
        padding: 10px;
        color: white;
        border-radius: 250px 250px 250px 250px;
    }
    .test{
        width: 250px;
    }

    .button-carousel{
        top: 400px;
        right: -170px;
    }

    .display{
        display:none;
    }
   p{
       font-size: 14px;
   }
    .p-items{
        font-size:10px;
    }

    .copyright-footer p{
        font-size: 10px;
    }
 }
  
