/*
***********************************
    ESTILOS GERAIS
***********************************
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
***********************************
    ESTILOS DO HEADER
***********************************
*/

header#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-style: normal;
    color:#FFFFFF;
    background-color: #1a5163;
    
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    
}

header#main-header div.lontra {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-right: 80px;
    font-size: 1.25rem;
    flex-grow: 1;
}

header#main-header nav {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

header#main-header nav ul {
    display: flex;
    list-style: none;
}

header#main-header nav ul li {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

header#main-header nav ul li a {
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    color:#FFFFFF;
}

header#main-header nav ul li a.active {
    color: #FC9685
}

header#main-header nav ul li a:hover {
    color: #FC9685
}

header#main-header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    flex-grow: 1;
}

header#main-header div a.entrar {
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    color: #FC9685;
}

header#main-header div a.entrar:hover {
    color: #fc745f;
    transition: color 0.15s;
}

header#main-header div button {
    margin-right: 100px;
    margin-left: 20px;
    background: #FC9685;
    font-family: sans-serif;
    font-style: normal;
    color:#FFFFFF;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 0.25rem;
}

header#main-header div button:hover {
    background-color: #fc745f;
    transition: background-color 0.15s;
}

header#main-header div button a {
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    color:#FFFFFF;
}


/*
***********************************
    ESTILOS DO TOP-SECTION
***********************************
*/

section#top-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #1a5163;
    color: #FFFFFF;
    margin-top: 70px;
    height: 380px;
    width: 100%;
}

section#top-section div.left {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2.5%; /* 50px */
}

section#top-section div.left h1 {
    font-family: sans-serif;
}

section#top-section div.left p {
    font-family: sans-serif;
    font-size: 1.25rem;
}

section#top-section div.left form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: white;
    align-items: center;
    box-shadow: 0px 2px 2px 2px;
    border-radius: 30px;
    background-color: aquamarine;
}

::placeholder {
    color: rgba(26, 81, 99, 50%);
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
}

section#top-section div.left form div.input input {
    position: relative;
    justify-content: center;
    margin: 10px;
    /* top: 20px; */
    width: 400px;
    height: 50px;
    /* margin-top: 20px; */
    border-radius: 15px;
    border: 2px solid #e5e5e5;
    flex-grow: 1;
}

/* section#top-section div form div.msg input {
    position: relative;
    width: 400px;
    height: 200px;
    margin-top: 40px;
    border-radius: 15px;
    border: 2px solid rgba(26, 81, 99, 50%);
} */

section#top-section div.left form div.msg textarea {
    position: relative;
    width: 400px;
    height: 200px;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid rgba(26, 81, 99, 50%);
    flex-grow: 2;
}

section#top-section div form div.submit button {
    position: relative;
    top: 10px;
    left: 285px;
    background: #FC9685;
    font-family: sans-serif;
    font-style: normal;
    color:#FFFFFF;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 0.25rem;
    font-size: 1rem;
}

section#top-section div form div.submit button:hover {
    background-color: #fc745f;
    transition: background-color 0.15s;
}

section#top-section img.img-principal {
    position: relative;
    top: 20px;
    left: 220px;
    height: 600px;
    z-index: 5;
}

section#top-section img.sombra {
    position: relative;
    top: 10px;
    right: 80px;
    height: 600px;
}


/*
***********************************
    ESTILOS DO BOTTOM-SECTION
***********************************
*/

section#bottom-section {
    margin-top: 400px;
}

section#bottom-section div {
    display: flex;
    margin-left: 85px;
}

section#bottom-section div img {
    height: 20px;
    margin-top: 15px;
}

section#bottom-section div p {
    font-family: sans-serif;
    color: #1a5163;
    align-items: center;
    margin-left: 20px;
}

/*
***********************************
    ESTILOS DO FOOTER
***********************************
*/

footer#main-footer div {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

footer#main-footer div nav {
    /* background-color: aquamarine; */
    width: 100%;
    padding-left: 130px;
}

footer#main-footer div nav h3 {
    font-family: sans-serif;
    font-size: 16px;
    color: #1a5163;
}

footer#main-footer nav ul {
    list-style: none;
    padding: 0px;
}

footer#main-footer nav ul li {
    margin-top: 20px;
}

footer#main-footer div nav ul li a {
    text-decoration: none;
    font-family: sans-serif;
    color: #1a5163;

}
footer#main-footer div nav ul li a:hover {
    color: #1a5163;
    font-weight: bold;
}

footer#main-footer hr {
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 768px) {
    
    /* display: none; para sumir */


}