

header {
    display: flex;
    justify-content: space-around;
    background-color: #1a5163;
    color:#FFFFFF;
    position: fixed;
    /* justify-content: center; */
    align-items: center;

    z-index: 999;
    height: 70px;
    top: 0px;
    left: 0px;
    right: 0px;
}

.logo-inicio {
    display: flex;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;

    font-size: 1.25rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    flex-grow: 1;
    justify-content: center;

}

.navegacao {
   /*  display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    display: inline-block;
    flex-grow: 2;
    
    }

    .lista {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-around;
    }

        .linkA {
            color: #FFFFFF;
            text-decoration: none;
            font-family: sans-serif;
            font-style: normal;
            font-weight: bold;
            }
        .linkA:hover {
            color: #FC9685
        }

        .linkB {
            color: #FFFFFF;
            text-decoration: none;
            font-family: sans-serif;
            font-style: normal;
            font-weight: bold;
            }
        .linkB:hover {
            color: #FC9685
        }

        .linkC {
            color: #FFFFFF;
            text-decoration: none;
            font-family: sans-serif;
            font-style: normal;
            font-weight: bold;
            }
        .linkC:hover {
            color: #FC9685
        }

        .linkD {
            color: #FFFFFF;
            text-decoration: none;
            font-family: sans-serif;
            font-style: normal;
            font-weight: bold;
            }
        .linkD:hover {
            color: #FC9685
}   

.login {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

    .entrar {
        color: #FC9685;
        text-decoration: none;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;

        font-size: 1rem;
        line-height: 21px;
}

.botao-cadastro {
    background: #FC9685;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.cadastrar {
    color: #FFFFFF;
    text-decoration: none;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;

    letter-spacing: 0.05em;
}

