/*
***********************************
    ESTILOS GERAIS
***********************************
*/

body {
    margin: 0;
}

/*
***********************************
    ESTILOS DO HEADER
***********************************
*/

header#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-style: normal;
    color:#FFFFFF;
    background-color: #1a5163;
    
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    
}

header#main-header div.lontra {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-right: 80px;
    font-size: 1.25rem;
    flex-grow: 1;
}

header#main-header nav {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

header#main-header nav ul {
    display: flex;
    list-style: none;
}

header#main-header nav ul li {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

header#main-header nav ul li a {
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    color:#FFFFFF;
}

header#main-header nav ul li a:hover {
    color: #FC9685
}


header#main-header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    flex-grow: 1;
}

header#main-header div a {
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    color: #FC9685;
}

header#main-header div a:hover {
    color: #fc745f;
    transition: color 0.15s;
}

header#main-header div button {
    margin-right: 100px;
    margin-left: 20px;
    background: #FC9685;
    font-family: sans-serif;
    font-style: normal;
    /* font-weight: bold; */
    color:#FFFFFF;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 0.25rem;
}

header#main-header div button:hover {
background-color: #fc745f;
transition: background-color 0.15s;
}

header#main-header div button a {
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    /* font-weight: bold; */
    color:#FFFFFF;
}


/*
***********************************
    ESTILOS DO TOP-SECTIONS
***********************************
*/

section#top-section {
    background-color: #1a5163;
    color: #FFFFFF;
    margin-top: 70px;
    height: 380px;
    width: 100%;
}

section#top-section div {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

section#top-section div h1 {
    position: relative;
    font-family: sans-serif;
    font-size: 40px;
    margin-top: 50px;
}

section#top-section div p {
    font-family: sans-serif;
    font-size: 1.25rem;
}