.buttons {
    position: inherit !important;
}

.logo {
    margin: 0 !important;
}

header .container {
    display: flex;
    width: 100vw;
}

header .container .navbar {
    width: 100vw;
}

.sections-ong {
    display: flex;
    flex-direction: column;
}

.main {
    margin-top: 68px;
    background: linear-gradient(45deg, rgba(26,81,99,255), rgba(26,81,99,255));
}

body {
    height: 100vh;
}

.border-dog {
    position: absolute;
    width: 370px;
    height: 500px;
    left: 1259px;
    top: 96px;
    border: 1px solid #FC9685;
    box-sizing: border-box;
    border-radius: 250px 250px 0px 0px;
}

#login-form {
    border: 2px solid #1A5163;
}

.form {
    margin: 20px 140px 0 140px;
}

.form h1 {
    color:#fff;
    text-align: center;
}

label {
    color: #1A5163;
    font-weight: bold;
}

input, label {
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

a {
    text-decoration:none;
    color:#fff;
}

a:hover {
    color:#fff;
}

.entrar {
    margin-top: 10px;
    text-decoration: none;
    margin-right: 20px;
    color: #e89588;
}

.entrar:hover {
    color: #fc6048;
}

.info {
    text-align: center;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 45px;
    border-radius: 20px;
}

.full-box {
    flex: 1 1 60%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: 0.9em;
}

input, select {
    border: 3px solid #E5E5E5;
    padding: 10px;
    font-size: 0.8em;
    margin: 10px 0 10px 0;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.02);
    border-radius: 30px;
    width: 100%;
}

input[type="checkbox"] {
    float: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: initial;
    width: 0;
    margin-right: 15px;
}

.termos {
    margin-left: 1.25rem;
}

#termos:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-color:#e9e9e9;
    margin-left: 1.25rem;
}

#termos:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-color:#1A5163;
}

#termos:checked:after {
    content: "";
    display: block;
    width: 0.45rem;
    height: 0.9rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    margin: 0.125rem 0 0 1.625rem;
}

.active {
    background-color: #1A5163 !important;
}

.fisica {
    background-color: #e9e9e9;
    border-radius: 25px;
    border: solid 1px #1A5163;
    width: 2.5rem;
    height: 2.5rem;
    cursor: default;
}

.ong {
    background-color: #e9e9e9;
    border-radius: 25px;
    border: solid 1px #1A5163;
    width: 2.5rem;
    height: 2.5rem;
}

.ong:active {
    background-color: #1A5163;
}

#onglabel {
    margin-left: 3rem;
}

input .mb-4 {
    width: 200px;
}

input:focus {
    border-color: #1A5163;
}

input[type="submit"] {
    background-color: #FC9685;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 3rem;
    width: 100%;
}

input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #ff4225, #fc6048);
}

#agreement {
    margin-right: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}

#client {
    margin-right: 5px;
}

#client, #client-label {
    display: inline-block;
    width: auto;
}

#productor {
    margin-right: 5px;
}

#productor, #productor-label {
    display: inline-block;
    width: auto;
}

.template {
    display: none;
}

@media (max-width: 1200px) {
    .form {
        margin: 1.2rem !important;
    }

    .container {
        margin: 0 auto !important;
        max-width: 100vw;
    }

    .collapse {
        display: none !important;
    }
}

@media (min-width: 1000px) {
    .dropdown{
        display: none;
    }
}

@media (max-width: 960px) {
    header .container {
        margin-left: 50px;
    }
}

@media (min-width: 992px) { 
    .dropdown {
        display: none;
    }
}

@media (max-width: 576px) {
    form {
        padding: 25px;
    }

    .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 80%;
    }

    .col-sm-12 .row .col-sm-3 {
        width: 25%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .row .col-sm-3 label {
        font-size: 16px;
    }

    .row .col-sm-1:nth-child(4) {
        margin-left: 25px;
    }
}