header{
    background-color: rgba(26,81,99,255);
    color: #fff;
    height: 70px;
    position: fixed;

         z-index:999;
        top:0;
        left:0;
        right: 0;
   
}
nav{
    
}
.logo{
    color:white;
    font-weight: bold;
}
.fa-paw{
    color:#fc9b8b;
}

.logo:hover{
    color:white;
    
}
.link{
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
}
.link:hover{
    color:#e89588;

}
.nav-item{
    color: #fff;
    margin-left: 15px;
    font-weight: 300;
    
}

.entrar{
    margin-top: 10px;
    text-decoration: none;
    margin-right: 20px;
    color: #e89588;
}
.entrar:hover{
    color: #fc6048;

}

.cadastro{
    background-color:#fc9b8b;
    color:white;

    }

    .cadastro:hover{
        background-color: #fc745f;
        color: white;
    }
    

    .main{
        margin-top:50px ;
        height:500px;
        background-color: rgba(26,81,99,255);
        position: relative;
    }    



    .main-left{
     display:flex;
    flex-direction: column;
    text-align: start;
    position: absolute;
    top: 70px;
    left: 100px;
    width: 600px;
    }   

    .main-left h1{
        font-weight: bold;    
        color: white;
    }   
    .main-left p{
       
        font-weight: bold;    
        color: white;   
    }   

    .main-right{
    
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 600px;
    }
    .border{
        /* unsplash:eoqnr8ikwFE */

position: relative;
width: 320px;
height: 400px;

top:-20px;
left: 110px;
border: 1px solid #A6E4E3;
box-sizing: border-box;
border-radius: 250px 250px 0px 0px;

    }

    .img-right{
        /* unsplash:ZCHj_2lJP00 */
    bottom:0px;    
    position: absolute;
    height:400px;
    margin-left: 80px;
    background: url(.jpg), #C4C4C4;
    border-radius: 250px 250px 0px 0px;

    }

.services{
    margin-top: 150px;
    position: relative;
}    



.image-dog img{
    /* unsplash:NE0XGVKTmcA */

position: relative;
width: 150px;
height: 150px;
left: 230px;
bottom:10px;




background: url(.jpg);
border-radius: 80%;

}
.border-dog{
position: absolute;
width: 200px;
height: 100px;
left: 150px;
bottom:180px;
border-radius: 100%;
background: #FC9685;





}

.border-dog-one{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 310px;
    bottom:170px;
    border-radius: 100%;
    background: #FC9685;
    }
    .border-dog-two{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 335px;
        bottom:155px;
        border-radius: 100%;
        background: #FC9685;
        }
        .border-dog-three{
            position: absolute;
            width: 15px;
            height: 15px;
            left: 355px;
            bottom:140px;
            border-radius: 100%;
            background: #FC9685;
            }

            .border-dog-four{
                position: absolute;
                width: 10px;
                height: 10px;
                left: 375px;
                bottom:130px;
                border-radius: 100%;
                background: #FC9685;
                }
         
h3{
    margin-left: 45px;
    margin-top: 17px;
    color: white;
    font-size: 26px;
}

.services-section-one{
    /* Rectangle 7 */
margin-left: 15px;
position: absolute;
width: 280px;
height: 250px;
left: 630px;
bottom:5px;

background-color: #E1EFF3;
border-radius: 250px 250px 0px 0px;

    
}

.services-section-title{

    display: flex;
    flex-direction: column;

    
}
.border-icone{
    position:relative;
    height: 45px;
    width: 45px;
    left:109px;
    top:45px;
    border-radius:100%;
    background: #FC9685;

}
.icone-dog{
    
    position: relative;
    top:15px;
    left: 123px;
    color:#fff;
}
.services-section-title h3{
    margin-top: 50px;
    padding-left:12px;
    font-size: 24px;
    color: #2f6272;
}

.services-section-title p{
    text-align: center;
    padding-left:12px;
    color: #2f6272;
}

a{
    text-decoration: none;
}

.services-section-two{
    
    /* Rectangle 8 */
    margin-left: 15px;
    position: absolute;
    width: 280px;
    height: 250px;
    left: 913px;
    bottom:6px;

background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
border-radius: 250px 250px 0px 0px;

}
.veterinario{
    text-align: center;
    margin-right: 45px;
}
